html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body {
    margin: 0;
}

nav {
    background-color: #1F2937;
    margin: 0;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.headlinks {
    color: gray;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    margin-left: auto;
    gap: 8px;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 50px 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb !important;
}

.hero img {
    margin-left: 50px;
}

button {
    background-color: #3882f6;
    border-radius: 7px;
    border-color: #FFFFFF;
    border-width: 1px;
    padding: 10px 30px;
    color: white;
    font-size: 14px;
}

.gallery{
    color: gray;
}

.img1, .img2, .img3, .img4 {
    width: 200px;
}

.gallery h2 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.carousel  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.carousel img {
    border: 5px solid #3882f6;
    border-radius: 7px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 30px;
}

.quote #thor {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.banner {
    background-color: #3882f6;
    border-radius: 25px;
    color: lightgray;
    display: flex;
    padding: 30px 80px;
    margin: 20px;
}

.cta #ctabold {
    font-weight: bold;
    color: #e5e7eb;
}

.cta button {
    margin-left: auto;
    align-self: center;
}

footer {
    background-color:#1F2937;
    color: lightgray;
    text-align: center;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}
